<phoenix-ncs-header></phoenix-ncs-header>
<div nxLayout="grid max width">
  <div nxRow>
    <div nxCol="12">
      <nav aria-label="Breadcrumb" style="margin: 10px 0 0 30px">
        <ol nxBreadcrumb>
          <li *ngFor="let item of items; last as isLast">
            <a nxBreadcrumbItem [routerLink]="isLast ? null : item.href">
              {{ item.name }}
            </a>
          </li>
        </ol>
      </nav>
    </div>
  </div>

  <br />
  <div nxRow>
    <div nxCol="12">
      <phoenix-chart></phoenix-chart>
    </div>

  </div>
</div>
<phoenix-ncs-footer></phoenix-ncs-footer>
